@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-sky: var(--sky);
  --color-grey: var(--grey);
  --color-grey-200: var(--grey-200);
  --color-button-text: var(--button-text);
  --color-input: var(--input);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --primary: #013941;
  --secondary: #f2f2f2;
  --sky: #ccf6e5;
  --grey: #828282;
  --grey-200: #4f4f4f;
  --button-text: #e6fbf2;
  --input: #e0e0e0;
}

.dark {
  --primary: #013941;
}

@layer base {
}
